{{- /* Override of PaperMod's post_canonical.html (mirrored verbatim below).
       Extended to render front-matter tags as non-linked pills at the end of
       the post header, since taxonomy pages are disabled site-wide. */ -}}
{{ if and (.Params.canonicalURL) (.Params.ShowCanonicalLink ) -}}
{{ $url := urls.Parse .Params.canonicalURL }}

{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) .IsTranslated (or .Params.editPost.URL site.Params.editPost.URL) }}&nbsp;|&nbsp;{{- end -}}
<span>
    {{- (site.Params.CanonicalLinkText | default .Params.CanonicalLinkText) | default "Originally published at" -}}
    &nbsp;<a href="{{ trim .Params.canonicalURL " " }}" title="{{ trim .Params.canonicalURL " " }}" target="_blank" rel="noopener noreferrer">{{ $url.Host }}</a>
</span>
{{- end }}
{{- with .Params.tags }}
<ul class="post-tags">
  {{- range . }}
  <li><span>{{ . }}</span></li>
  {{- end }}
</ul>
{{- end }}
